.banner-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
  }
  
  .banner img {
    width: 100%;
    height: auto;
  }
  
  .banner-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: #717171;
  }
  